*{margin: 0;}
html{font-size: 10px;}
body{font-size: 1rem;}
a{text-decoration: none;color: #ffffff;}
html, body {width: 100%}

header{height: 90px;text-align: center;}

.logo{padding-top: 25px;}

.keyvisual{text-align: center;background-image: url('../img/m_02.png');height: 648px;}

.keyvisual img{padding-top: 205px;}

.profile{height: 1671px;}
.profile_01{text-align: center;padding-top: 96px;}
.profile_02{text-align: center;padding-top: 53px;}
.profile_03{text-align: center;padding-top: 52px;}

.box1{background-color: #d36c7d;}

.box2{background-color: #d49c6c;}

.box3{background-color: #ddc85e;}

.box4{background-color: #7cd38d;}

.box5{background-color: #7da4d4;}

.box6{background-color: #4d54aa;}

.box7{background-color: #986fbc;}

.box8{background-color: #bd6fb6;}
